*,
*::after,
*::before{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body{
   width: 100%;
   // min-height: 100vh;
   margin: 0; 
   padding: 0;
   font-family: var(--ff-body);
   font-size: 18px;
   border: solid 1px blue;
   
   @include table{
      font-size: 32px;
   }
}